 <!-- Publications Section -->
    <section class="secondary" id="ewerthr"">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Prof. Dr. Ralph Ewerth</h2>
                    <hr class="star-secondary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {% bibliography --query @*[author ~= Ewerth] %}
                </div>
            </div>
        </div>
    </section>
