 <!-- Publications Section -->
    <section class="secondary" id="muellerer"">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Dr. Eric Müller-Budack</h2>
                    <hr class="star-secondary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {% bibliography --query @*[author ~= Eric] %}
                </div>
            </div>
        </div>
    </section>
