 <!-- News Section -->
 <section class="secondary" id="news">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">

                <!-- Home Post List -->
                {% for post in site.posts limit : 5 %}
                <h4 class="post-title">{{ post.title }}</h4>
                <div style="text-align: justify">
                    {{post.content}}
                </div>
                
                <div style="margin-bottom: 2em;"></div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
