 <!-- Publications Section -->
    <section class="secondary" id="publications"">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Whole Group</h2>
                    <hr class="star-secondary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {% bibliography --query @*[status != exclude && status != unpublished] %}
                </div>
            </div>
        </div>
    </section>
